cartopy
geopandas
geodatasets
joblib
matplotlib
nltk
numpy
pandas
re
seaborn
time
torch
torchvision
torchaudio
torchtext
torchdata
torch-utils
torchmetrics
torch-lr-finder
torchsummary
torchvision
tqdm
warnings
scipy
scikit-learn
wordcloud
